// Color Scheme
// First Color Scheme
$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
// Second Color Scheme
$smoky-black: #0c0910;
$granite-gray: #646266;
$spanish-pink: #a6a5a8;
// Tipography

//Font Family
$poppins: 'Poppins', sans-serif;

// Font Weight
$po-extra-light:200;
$po-light: 300;
$po-regular: 400;
$po-medium: 500;
$po-semi-bold: 600;

// Font Sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;